

<h1 id="live-title">{{ place.name }} connecting...</h1>
<div id="chart-wrapper col-sm-6">
    <div id='{{place._id}}-graph' class="epoch category10" style="height:200px; width:200px"></div>
    <p>Latest point: </p>
</div>



{% block scripts %}


<script>
    // chart
    // {time: 1571378036, y: 8}, {time: 1571378039, y: 8}
    var chartData = [ { label: "series", values: [{time: 1571378036, y: 8}, {time: 1571378039, y: 8}] } ];

    var chart = $('#{{place._id}}-graph').epoch({
        type: 'time.line',
        data: chartData
    });

</script>

{% endblock %}