

<h1 id="live-title">{{ place.name }} connecting...</h1>
<div id="chart-wrapper col-sm-6">
    <div id='graph' class="epoch category10" style="height:200px; width:200px"></div>
    <p>Latest point: </p>
</div>



{% block scripts %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="https://d3js.org/d3.v3.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='epoch.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>

<script>
    // chart
    // {time: 1571378036, y: 8}, {time: 1571378039, y: 8}
    var chartData = [ { label: "A series", values: [] } ];

    var lineChart = $('#graph').epoch({
        type: 'time.line',
        data: chartData
    });
    
</script>
{% endblock %}