{% extends "base.html" %}

{% block content %}
<h1>Live ROOM PAGE</h1>

<h1>{{ room.title }}</h1> 
<br>

<div class='row'>
    {% for place in places %}
        {% with place = place %}
            <div class='col-sm-6'>
                {% include "graph.html" %}
            </div>
        {% endwith %}
    {% endfor %}
</div>



<hr>
<h3>Add a new target</h3>
<form method='POST' action='/place'>
    <input type='hidden' value='{{ room._id }}' name='room_id'>
    {% include "place-form.html" %}

        <!-- BUTTON -->
    <div class='form-group col-sm-7'>
        <button class='btn btn-primary btn-block' type='submit'>Add a new target</button>
    </div> 
</form>
    
{% endblock %}
