<form method='POST' action='/place'>
    <div class='form-group'>
        <div class='row'>
            <div class='col'>
                <label for='name'>Name</label>
                <input class='form-control' type='text' id='name' name='name' required>
            </div>
            <div class='col'>
                <label for='url'>URL</label>
                <input class='form-control' type='text' id='url' name='url' required>
            </div>
            <div class='col'>
                    <label for='path'>XPath</label>
                    <input class='form-control' type='text' id='path' name='path' required>
            </div> 
        </div>
        
    </div>

    <!-- BUTTON -->
    <div class='form-group'>
        <button class='btn btn-primary btn-block' type='submit'>Add a new target</button>
    </div>
</form>