<form method='POST' action='/room'>
    <div class='row'>
        <div class='form-group'>
            <label for='place-name'>Room Name</label>
            <input class='form-control' type='text' id='title' name='title' required>
        </div> 

        <hr>
        <h4>Make your first target for the room!</h4>
        {% include "place-form.html" %}
    
        <!-- BUTTON -->
        <hr>
        <div class='form-group'>
            <button class='btn btn-primary btn-block' type='submit'>Make a new room</button>
        </div>
    </div>
</form>